section#about.section: .container
  .flex.flex--2
    .flex__container
      header.section__header.section__header--left
        h1.section__title Mój profil
        .section__desc krótko o mnie
        
      p Student III roku Informatyki, kochający wszystko co związane z Internetem, UI/UX designem oraz IT security. Miłośnik ruchu wolnego oprogramowania i otwartego kodu źródłowego. W wolnych chwilach odkrywam muzyczny, filmowy i książkowy świat lub biegam wokół Krakowskich Błoń.
      
    .flex__container
      header.section__header.section__header--left
        h1.section__title: a(href="mailto:hello@pwojnicz.pl") hello@pwojnicz.pl
        .section__desc napisz coś fajnego :)
        
      p Przyjmuję propozycje i oferty współpracy w zakresie tworzenia i projektowania stron lub aplikacji. Podejmę się również pracy na pełen etat jako (junior) front-end developer.
      
      p PS Jestem otwarty na nowe technologie i ciekawe pomysły. Wspólny projekt w ramach nauki? Chętnie!
