/*
  -------------------
  --- Base styles ---
  -------------------
*/

*,
*::before,
*::after {
  box-sizing: border-box; // 1
}

body {
  color: #828282;
  font: 1rem/1.75 $font-2;
}

::selection {
  color: #fff;
  background: $c-action;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-1;
}

a {
  color: #2F80ED;
  text-decoration: none;

  &:not([class]) {
    position: relative;
    backface-visibility: hidden;
    transition: 0.1s color ease;

    &:after {
      content: "";
      background: $c-primary;
      transition: 0.5s all ease;
      backface-visibility: hidden;
      position: absolute;
      bottom: -0.15em;
      left: 0;
      height: .1em;
      width: 0;
    }

    &:hover {
      color: $c-primary;

      &:after {
        width: 100%;
      }
    }
  }
}

nav {
  font-family: $font-1;

  ul {
    list-style: none;
    padding: 0;
  }
}

strong {
  font-weight: bold;
}
