/*
  ----------------
  --- Sections ---
  ----------------
*/

// Main section
.section {
  color: #828282;
  padding: $gutter 0;

  &__header {
    text-align: center;
    margin-bottom: $gutter;

    @include media('>tablet') {
      &--left {
        text-align: left;
      }
    }
  }

  &__title {
    color: #545454;
    font-size: 1.5rem;
    font-weight: normal;

    a {
      color: inherit;
    }
  }

  &__desc {
    color: #878BAF;
    font-size: 1rem;
    font-weight: lighter;
  }

  @include media('>=tablet') {
    &__title {
      font-size: 1.7rem;
    }

    &__desc {
      font-size: 1.3rem;
    }
  }

  &--dark {
    color: $c-dark-text-2;
    background: $c-darker url('/assets/img/stardust.png');

    .section__title,
    .featured-section__title {
      color: #fff;
    }
  }

  &--light {
    background: $c-light;
  }
}

// Hero section
.hero-section {
  text-align: center;
  min-height: 100vh;
  display: flex;

  &__label,
  &__title,
  &__desc {
    padding-bottom: 2.5rem;
    animation: fadeIn .5s ease-in-out;
  }

  &__img-item {
    width: 15rem;
  }

  &__label {
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
  }

  &__title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bolder;
    line-height: 1.5;
  }

  &__desc {
    font-size: 1.1rem;
    font-weight: lighter;
  }

  @include media('>=tablet') {
    &__title,
    &__desc {
      max-width: 70%;
      margin: auto;
    }

    &__title {
      font-size: 2rem;
    }
  }

  @include media('>=desktop') {
    &__title {
      font-size: 3rem;
    }

    &__desc {
      font-size: 1.3rem;
    }
  }
}
