section#intro.section.section--dark.hero-section: .container

  figure.hero-section__img
    img(src="assets/img/launch.svg", alt="Launch ilustration").hero-section__img-item

  header.hero-section__header
    .hero-section__label Front-end developer
    h1.hero-section__title Projektuję i wdrażam responsywne strony internetowe

  .hero-section__desc Jestem młodym i ciągle rozwijającym się front-end developerem z Krakowa, od kilku lat działającym w branży jako freelancer.

  .btn-group
    a(href="#skills").btn.btn--primary Zobacz co potrafię
    a(href=github, title="Github").btn.btn--dark: i.fab.fa-lg.fa-github
    a(href=dribbble, title="Dribbble").btn.btn--dark: i.fab.fa-lg.fa-dribbble
    a(href=codepen, title="Codepen").btn.btn--dark: i.fab.fa-lg.fa-codepen
