/*
  ------------
  --- Grid ---
  ------------
*/

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(1.1);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.container {
  margin: auto;
  max-width: 1400px;
  padding: 1rem;
  animation: fadeIn .3s ease-in-out;
}

.flex {
  display: flex;
  flex-direction: column;

  @include media('<tablet') {
    .flex__container:not(:last-of-type) {
      margin-bottom: $gutter;
    }
  }

  @include media('>=tablet') {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &--2 .flex__container {
      flex-basis: 45%;
    }

    &--3 .flex__container {
      flex-basis: 30%;
    }
  }
}
