/*
  -------------
  --- Cards ---
  -------------
*/

$card-padding: 2rem;
$card-margin: 2rem;

.cards {
  margin-bottom: -$card-margin;

  &:not(:last-child) {
    margin-bottom: $gutter;
  }

  @include media('>desktop') {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.card {
  margin-bottom: $card-margin;
  background: #fff;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: column;

  &__image {
    overflow: hidden;
    position: relative;
    height: 10rem;

    img {
      width: 100%;
      display: block;
      position: absolute;
    }
  }

  @include media('>=500px') {
    flex-direction: row;
    flex-basis: 49%;

    &__image {
      min-width: 10rem;
      max-width: 10rem;
      height: auto;

      img {
        width: auto;
        height: 100%;
      }
    }
  }

  &__content {
    padding: $card-padding;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
  }

  &__header,
  &__desc {
    margin-bottom: 1rem;
  }

  &__header {
    padding-bottom: 1rem;
    border-bottom: 1px solid #eee;
  }

  &__desc {
    font-size: .9rem;
  }

  &__title {
    color: $c-dark;
    font-size: 1.5rem;
  }

  &__list {
    color: #aaa;
    font-size: .7rem;
    text-transform: uppercase;
    margin-top: .5rem;
    display: flex;

    li:not(:last-of-type)::after {
      content: '\2022';
      margin: 0 .5rem;
    }
  }

  &__footer {
    margin-top: auto;
  }
}
