/*
  ------------
  --- Tabs ---
  ------------
*/

.tabs {
  &:not(:last-child) {
    margin-bottom: $gutter;
  }
}

.tab {
  &-header {
    background: lighten($c-darker, 2%);
    box-shadow: $box-shadow;
    padding: 2rem;
    display: block;
    position: relative;
    transition: all .2s ease-in;
    cursor: pointer;

    &:hover {
      background: lighten($c-dark, 5%);
    }

    &__name {
      display: flex;
      align-items: center;
      margin-bottom: 1em;
    }

    &__icon {
      margin-right: 2em;

      svg {
        fill: #fff;
      }
    }

    &__title {
      color: #fff;
      font: bold 1.2em $font-2;
      text-transform: uppercase;
    }

    &__desc {
      text-align: center;
      color: $c-dark-text-2;
    }

    &__label {
      color: #fff;
      font-size: .8rem;
      background: $c-dark;
      padding: .2rem 1rem;
      position: absolute;
      top: 0;
      right: 0;

      &--featured {
        background: $c-alert;
      }
    }

    @keyframes text-fade {
      0% { opacity: 1; }
      50% { opacity: 0; transform: translateY(10%); }
      100% { opacity: 1; transform: translateY(0); }
    }

    &.is-active {
      background: $c-primary;
      position: relative;
      transform: translateY(1em);
      z-index: 1;

      &::after {
        content: '';
        background: $c-primary;
        width: 1em;
        height: 1em;
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateY(.5em) rotate(45deg);
      }

      .tab-header__icon,
      .tab-header__title,
      .tab-header__desc {
        animation: text-fade .5s;
      }

      .tab-header__icon svg {
        fill: $c-primary-text-1;
      }

      .tab-header__title {
        color: $c-primary-text-1;
      }

      .tab-header__desc {
        color: $c-primary-text-2;
      }

      @keyframes display-content {
        from { transform: translateY(10%); }
        to { transform: translateY(0); }
      }

      & + .tab-content {
        display: flex;
        animation: display-content .5s;
      }
    }
  }

  &-content {
    color: #777;
    background: #fff;
    box-shadow: $box-shadow;
    padding: 4rem;
    display: none;
    flex-direction: column;

    &__section:not(:last-of-type) {
      margin-bottom: 2em;
    }

    &__header {
      color: #000;
    }
  }
}

@include media('>=1150px') {
  .tabs {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }

  .tab {
    &-header {
      flex: 2 0;
      margin-bottom: 1rem;

      &:not(:first-of-type) {
        margin-left: 1rem;
      }
    }

    &-content {
      order: 10;
      flex: 1 100%;
      flex-direction: row;
      justify-content: space-between;

      &__section {
        max-width: 50%;

        &:not(:last-of-type) {
          margin-bottom: 0;
        }
      }
    }
  }
}
