section#about.section: .container
  .flex.flex--2
    .flex__container
      header.section__header.section__header--left
        h1.section__title Mój profil
        .section__desc krótko o mnie
        
      p Student III roku Informatyki, kochający wszystko co związane z Internetem, UI/UX designem oraz IT security. Miłośnik ruchu wolnego oprogramowania i otwartego kodu źródłowego. W wolnych chwilach odkrywam muzyczny, filmowy i książkowy świat lub biegam wokół Krakowskich Błoń.
      
    .flex__container
      header.section__header.section__header--left
        h1.section__title: a(href="mailto:hello@pwojnicz.pl") hello@pwojnicz.pl
        .section__desc współpraca, projekt, zlecenie? Daj znać!
        
      p Przyjmuje zlecenia dot. kodowania stron. Dam się też zaciągnąć do wspólnego projektu – nieważne czy masz pomysł, najważniejsze są chęci!
