section#intro.section.featured-section.section--dark: .container

  .featured-section__container
    figure.featured-section__img
      img(src="assets/svg/launch.svg", alt="").featured-section__img-item

    .featured-section__content
      header.featured-section__header
        .featured-section__label Front-end developer
        h1.featured-section__title Projektuję i wdrażam responsywne strony internetowe

      p.featured-section__desc Jestem młodym i ciągle rozwijającym się front-end developerem z Krakowa, od kilku lat działającym w branży jako freelancer.

    a(href="#skills").btn.btn--primary Zobacz co potrafię
    a(href=github, title="Github").btn.btn--dark: i.fa.fa-lg.fa-github
    a(href=dribbble, title="Dribbble").btn.btn--dark: i.fa.fa-lg.fa-dribbble
    a(href=codepen, title="Codepen").btn.btn--dark: i.fa.fa-lg.fa-codepen
