header.main-header
  a(href="https://pwojnicz.pl/").main-header__title _pwojnicz
  
  nav.main-header__nav
    a(href="#").main-header__nav-trigger
      span.main-header__nav-icon
      
    ul.main-header__nav-items
      li.main-header__nav-item: a(href="#start") start
      li.main-header__nav-item: a(href="#skills") umiejętności
      li.main-header__nav-item: a(href="#portfolio") wybrane prace
      li.main-header__nav-item: a(href="#about") mój profil
      li.main-header__nav-item.main-header__nav-item--contact: a(href="mailto:hello@pwojnicz.pl").icon-link #[i.fa.fa-envelope] hello@pwojnicz.pl
