header.main-header
  a(href="https://pwojnicz.pl/").main-header__title _pwojnicz
  
  nav.main-nav
    a(href="#", title="Pokaż menu").main-nav__trigger
      span.main-nav__icon
      
    ul.main-nav__items
      li.main-nav__item: a(href="#start") start
      li.main-nav__item: a(href="#skills") umiejętności
      li.main-nav__item: a(href="#portfolio") wybrane prace
      li.main-nav__item: a(href="#about") mój profil
      li.main-nav__item.main-nav__item--contact: 
        a(href="mailto:hello@pwojnicz.pl").icon-link #[i.fa.fa-envelope] hello@pwojnicz.pl
