/*
  ------------------
  --- Typography ---
  ------------------
*/

.text-featured {
  font-size: 1.5em;
  font-weight: lighter;
  text-align: center;
  padding: 2em;
}

.u-list {
  &__item {
    margin: .5em 3em .5em 0;
    position: relative;

    &::before {
      content: '';
      width: 1em;
      height: 2px;
      background: $c-primary;
      position: absolute;
      left: -1.75em;
      top: .75em;
    }
  }
}
