section#skills.section.section--dark: .container
  header.section__header
    h1.section__title „Can you fly that thing?”
    p.section__desc oferta i umiejętności
    
  section.tabs
    .tab-header.is-active
      .tab-header__label.tab-header__label--featured specjalizacja
      .tab-header__name
        svg.tab-header__icon: use(href="assets/img/sprite.svg#front-end")
        h2.tab-header__title Front-end development
      .tab-header__desc Kodowanie na podstawie projektu graficznego, responsywność, optymalizacja SEO, wdrożenia CMS.
    
    article.tab-content
      .tab-content__section
        h3.tab-content__header HTML i CSS
        ul.u-list
          li.u-list__item Standard HTML5 oraz CCS3
          li.u-list__item Semantyka (SEO-friendly)
          li.u-list__item Responsive Web Design (RWD)
          li.u-list__item Mobile-first
          li.u-list__item Metodologie BEM i SMACSS
          li.u-list__item Preprocesory: Sass, Pug. Haml
          
      .tab-content__section
        h3.tab-content__header Javascript
        ul.u-list
          li.u-list__item JavaScript &amp; ES6
          li.u-list__item Doświadczenie z jQuery
          li.u-list__item W trakcie nauki VueJS
          
      .tab-content__section
        h3.tab-content__header Inne
        ul.u-list
          li.u-list__item Gulp, Bower, NPM
          li.u-list__item Doświadczenie z frameworkami
          li.u-list__item Doświadczenie z CMS: Wordpress, OpenCart
          li.u-list__item XML, XSLT
    //- TAB END
      
    .tab-header
      .tab-header__label podstawy
      .tab-header__name
        svg.tab-header__icon: use(href="assets/img/sprite.svg#back-end")
        h2.tab-header__title Back-end development
      .tab-header__desc Znajomość podstaw programowania obiektowego oraz doświadczenie z&nbsp;relacyjnymi bazami danych.
    
    article.tab-content
      .tab-content__section
        h3.tab-content__header Programowanie
        ul.u-list
          li.u-list__item Podstawy PHP (kilka projektów)
          li.u-list__item Podstawy Pythona
          li.u-list__item MVC, OOP
          
      .tab-content__section
        h3.tab-content__header Bazy danych
        ul.u-list
          li.u-list__item Dobra znajomość SQL
          li.u-list__item Doświadczenie z MariaDB
          li.u-list__item Doświadczenie z relacyjnymi bazami danych
    //- TAB END
  
    .tab-header
      .tab-header__label podstawy
      .tab-header__name
        svg.tab-header__icon: use(href="assets/img/sprite.svg#design")
        h2.tab-header__title WEB/UI/UX design
      .tab-header__desc Wyczucie estetyki, znajomość trendów i&nbsp;technik projektowania interfejsów pod www.
    
    article.tab-content       
      .tab-content__section.tab-content__section--wider
        h3.tab-content__header Doświadczenie
        p Dodatkowe hobby – projektowanie UI to dla mnie fajne i&nbsp;przyjemne wyzwanie. Posiadam podstawową wiedzę nt. UX i&nbsp;projektuję z&nbsp;myślą o&nbsp;użytkowników końcowym, dbając o&nbsp;odpowiedni priorytet treści, przejrzystość i wygodę.
        p Posiadam również doświadczenie w projektowaniu pod druk (DTP).
        
      .tab-content__section
        h3.tab-content__header Narzędzia
        ul.u-list
          li.u-list__item Photoshop
          li.u-list__item Figma
          li.u-list__item Zeszyt + ołówek :)
    //- TAB END
  
    .tab-header
      .tab-header__label inne
      .tab-header__name
        svg.tab-header__icon: use(href="assets/img/sprite.svg#tools")
        h2.tab-header__title Inne / narzędzia
      .tab-header__desc Narzędzia i inne technologie, z&nbsp;którymi miałem styczność.
    
    article.tab-content
      .tab-content__section
        h3.tab-content__header GNU/Linux
        ul.u-list
          li.u-list__item ♥
          li.u-list__item Podstawowy administracji i konfiguracji (Apache)
          li.u-list__item Podstawy security
          
      .tab-content__section
        h3.tab-content__header Programowanie
        ul.u-list
          li.u-list__item Podstawy Pythona
          li.u-list__item Podstawy C/C++
          
      .tab-content__section
        h3.tab-content__header Narzędzia
        ul.u-list
          li.u-list__item Github
          li.u-list__item Docker
      //- TAB END
  //- .tabs end
            
  .text-featured Oraz najważniejsze, czyli chęć odkrywania i poznawania nowych rzeczy. Nie tylko ze świata IT :)
