/*
  ---------------
  --- Buttons ---
  ---------------
*/

.btn {
  font-size: .7rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,.1);
  text-transform: uppercase;
  background: $c-light;
  box-shadow: $box-shadow;
  border-radius: 0 0 1rem 0;
  padding: 1rem;
  margin-top: .5rem;
  display: inline-block;
  transition: all .2s ease-in-out;

  @include media('>tablet') {
    padding: 1rem 1.5rem;
  }

  &:hover,
  &:focus {
    background: darken($c-light, 5%);
    border-radius: 0;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba($c-light, 0.3);
  }

  &:not(:last-child) {
    margin-right: .5rem;
  }

  &--primary {
    color: #fff;
    background: $c-action;

    &:hover,
    &:focus {
      background: lighten($c-action, 5%);
    }

    &:focus {
      box-shadow: 0 0 0 0.25rem rgba($c-action, 0.6);
    }
  }

  &--dark {
    color: #fff;
    background: $c-dark;

    &:hover,
    &:focus {
      background: lighten($c-dark, 5%);
    }

    &:focus {
      box-shadow: 0 0 0 0.25rem rgba($c-dark, 0.6);
    }
  }

  &--small {
    font-size: .7rem;
    padding: .5em 1.5em;
  }
}
